.wrap {
  max-width: 960px;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h5 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ul, menu, dir {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.page-main {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 15px;
}

.header__logo {
  background-image: url(../img/logo.png);
  width: 128px;
  height: 50px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

@media (max-width: 748.98px) {
  .header-menu {
    display: none;
  }
}

.header-menu__list {
  margin-left: 25px;
}

.header-menu__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 2.5px;
}

@media (max-width: 803.98px) {
  .header-menu__link {
    font-size: 11px;
  }
}

.header-menu__link:hover {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #00e0d0;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 2.5px;
}

.header-carousel {
  text-align: center;
  padding-top: 160px;
}

.header-carousel div {
  height: 330px;
  outline: none;
}

.header-carousel div h1 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}

.header-carousel div p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 20px;
}

@media (max-width: 762.98px) {
  .header-carousel div p {
    font-size: 12px;
  }
}

@media (max-width: 660.98px) {
  .header-carousel div p {
    font-size: 11px;
  }
}

.header-carousel div a {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  border-radius: 1px;
  padding: 14px 15px 14px 15px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #00e0d0;
}

.header-carousel div a:hover {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
  border-radius: 1px;
  padding: 14px 15px 14px 15px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #fff;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
  padding-outline: none;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  text-indent: -9999px;
  width: 8px;
  height: 8px;
  background-color: #211545;
  background-color-border: 1px solid #ffffff;
  border-radius: 100%;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  padding: 6px;
}

.slick-dots li button:focus {
  outline: none;
}

li.slick-active button {
  background: #00e0d0;
  border: 1px solid #00e0d0;
}

.block-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 70px;
}

.block-story-text__title {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #413d4b;
}

.block-story-text__subtitle {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #716e78;
  padding-bottom: 20px;
}

.block-story-text__btn {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  width: 120px;
  height: 40px;
  border-radius: 1px;
  font-size: 16px;
  background-color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #00e0d0;
  outline: none;
  margin-bottom: 70px;
}

.block-story-text__btn:hover {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #fff;
  width: 120px;
  height: 40px;
  border-radius: 1px;
  font-size: 16px;
  background-color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #fff;
  outline: none;
}

.block-video {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.block-video-play {
  text-align: center;
  padding-top: 200px;
}

.block-video-play__title {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding-top: 18px;
}

.block-expertise-text {
  padding-top: 70px;
  text-align: center;
}

.block-expertise-text__title {
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #413d4b;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.block-expertise-text__subtitle {
  font-size: 14px;
  letter-spacing: 0.75px;
  color: #78767c;
}

.block-expertise-catigories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 80px;
}

.block-expertise-catigories h4 {
  padding-top: 20px;
  font-size: 14px;
  color: #413d4b;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.block-expertise-catigories p {
  color: #666666;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.block-expertise-catigories-one__item1 {
  padding-top: 40px;
}

.block-expertise-catigories-two__item2 {
  padding-top: 48px;
}

.block-expertise-catigories-three__item3 {
  padding-top: 40px;
}

@media (max-width: 974.98px) {
  .block-expertise-text {
    padding-top: 70px;
    text-align: center;
  }
  .block-expertise-text__title {
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }
  .block-expertise-text__subtitle {
    font-size: 18px;
    letter-spacing: 0.75px;
    color: #78767c;
  }
  .block-expertise-text__line {
    width: 50px;
  }
  .block-expertise-catigories {
    display: block;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .block-expertise-catigories h4 {
    padding-top: 20px;
    font-size: 18px;
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  .block-expertise-catigories p {
    color: #666666;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .block-expertise-catigories-one__item1 {
    padding-top: 30px;
  }
  .block-expertise-catigories-two__item2 {
    padding-top: 38px;
  }
  .block-expertise-catigories-three__item3 {
    padding-top: 30px;
  }
  .block-expertise hr {
    width: 394px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.page-main2 {
  background-image: url(../img/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 772px;
}

.block-teams-text {
  text-align: center;
  padding-top: 70px;
}

.block-teams-text__title {
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.block-teams-text__subtitle {
  font-size: 14px;
  letter-spacing: 0.75px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #ffffff;
}

.block-teams-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
}

.block-teams-item-text2 {
  text-align: center;
}

.block-teams-item-text2 div {
  border: 1px solid #79768e;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.block-teams-item-text2 div h4 {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
}

.block-teams-item-text2 div p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #b0aebc;
}

.block-teams-join {
  text-align: center;
  padding-top: 65px;
}

.block-teams-join p {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #d6d5db;
  padding-bottom: 30px;
}

.block-teams-join a {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  border-radius: 1px;
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #00e0d0;
  margin-top: 30px;
}

.block-teams-join a:hover {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
  border-radius: 1px;
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 974.98px) {
  .page-main2 {
    background-image: url(../img/bg-3.jpg);
    background-repeat: no-repeat;
    height: 1772px;
  }
  .block-teams-text {
    text-align: center;
    margin-top: 70px;
  }
  .block-teams-text__title {
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }
  .block-teams-text__subtitle {
    font-size: 14px;
    letter-spacing: 0.75px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #ffffff;
  }
  .block-teams-item {
    display: block;
    padding-top: 40px;
  }
  .block-teams-item-text2 {
    text-align: center;
  }
  .block-teams-item-text2 div {
    border: 1px solid #79768e;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .block-teams-item-text2 div h4 {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
  }
  .block-teams-item-text2 div p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #b0aebc;
  }
}

.block-works-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 80px;
}

.block-works-text__title {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.block-works-text__link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #413d4b;
}

.block-works-text__link-item {
  padding-left: 5px;
}

.block-works-sqares__adap {
  text-align: center;
}

.block-works-sqares img {
  width: 250px;
  height: 200px;
}

@media (max-width: 1520.98px) {
  .block-works-sqares img {
    width: 230px;
    height: 180px;
  }
}

@media (max-width: 1400.98px) {
  .block-works-sqares img {
    width: 210px;
    height: 160px;
  }
}

@media (max-width: 1082.98px) {
  .block-works-sqares img {
    display: block;
    margin: 0 auto;
    padding-top: 4px;
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 550.98px) {
  .block-works-sqares img {
    width: 270px;
    height: 250px;
  }
}

.block-works-load {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.block-works-load__link2 {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  border-radius: 1px;
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #00e0d0;
}

.block-works-load__link2:hover {
  text-align: center;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
  border-radius: 1px;
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #fff;
}

.page-main3 {
  background-image: url(../img/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.block-carousel {
  outline: none;
}

.block-carousel div {
  height: 420px;
  text-align: center;
}

.block-carousel h1 {
  padding-top: 70px;
  font-size: 100px;
  letter-spacing: 0.3px;
  line-height: 22px;
  color: #ebeaef;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 789.98px) {
  .block-carousel h1 {
    font-size: 90px;
  }
}

@media (max-width: 700.98px) {
  .block-carousel h1 {
    font-size: 80px;
  }
}

@media (max-width: 565.98px) {
  .block-carousel h1 {
    font-size: 65px;
  }
}

.block-carousel p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.25px;
  font-family: 'Playfair Display', serif;
  color: #e1dfe6;
}

@media (max-width: 789.98px) {
  .block-carousel p {
    font-size: 14px;
  }
}

@media (max-width: 700.98px) {
  .block-carousel p {
    font-size: 11px;
  }
}

@media (max-width: 565.98px) {
  .block-carousel p {
    font-size: 8px;
  }
}

.block-carousel h4 {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #e1dfe6;
  padding-top: 45px;
}

@media (max-width: 789.98px) {
  .block-carousel h4 {
    font-size: 13px;
  }
}

@media (max-width: 700.98px) {
  .block-carousel h4 {
    font-size: 12px;
  }
}

@media (max-width: 565.98px) {
  .block-carousel h4 {
    font-size: 11px;
  }
}

.block-carousel h5 {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #bebbc9;
}

@media (max-width: 789.98px) {
  .block-carousel h5 {
    font-size: 12px;
  }
}

@media (max-width: 700.98px) {
  .block-carousel h5 {
    font-size: 11px;
  }
}

@media (max-width: 565.98px) {
  .block-carousel h5 {
    font-size: 10px;
  }
}

.block-carousel img {
  margin: 0 auto;
}

.fa-chevron-left {
  text-align: center;
  position: relative;
  top: 438px;
  left: 465px;
  color: #9f9f9f;
}

.fa-chevron-right {
  position: relative;
  left: 490px;
  color: #9f9f9f;
}

.block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}

@media (max-width: 910.98px) {
  .block-social {
    display: block;
  }
}

.block-social-form__title {
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #413d4b;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  padding-bottom: 35px;
}

@media (max-width: 910.98px) {
  .block-social-form__title {
    text-align: center;
  }
}

.block-social-form input {
  display: block;
  margin-bottom: 23px;
  height: 45px;
  width: 440px;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #413d4b;
}

@media (max-width: 910.98px) {
  .block-social-form input {
    margin: 23px auto;
  }
}

.block-social-form textarea {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #413d4b;
  height: 180px;
  width: 440px;
  margin-bottom: 20px;
  resize: none;
}

@media (max-width: 910.98px) {
  .block-social-form textarea {
    display: block;
    margin: 20px auto;
    resize: none;
  }
}

.block-social-form__link {
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  border-radius: 1px;
  width: 127px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #00e0d0;
  margin-bottom: 20px;
}

@media (max-width: 910.98px) {
  .block-social-form__link {
    display: block;
    margin: 20px auto;
  }
}

.block-social-form__link:hover {
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
  border-radius: 1px;
  width: 127px;
  height: 50px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #fff;
}

.block-social-logs {
  padding-left: 90px;
}

@media (max-width: 910.98px) {
  .block-social-logs {
    padding: 60px 0 0 0;
  }
}

.block-social-logs__title {
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #413d4b;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  padding-bottom: 35px;
}

@media (max-width: 910.98px) {
  .block-social-logs__title {
    text-align: center;
  }
}

.block-social-logs-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 910.98px) {
  .block-social-logs-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block-social-logs-flex div {
  padding-top: 15px;
}

.block-social-logs-flex img {
  padding-bottom: 50px;
}

@media (max-width: 910.98px) {
  .block-social-logs-flex img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
  }
}

.slick-slide {
  outline: none;
}

.page-main4 {
  background-image: url(../img/bg-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

@media (max-width: 910.98px) {
  .page-main4 {
    height: 950px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}

@media (max-width: 910.98px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 910.98px) {
  .footer-logo {
    margin: 0 auto;
  }
}

@media (max-width: 910.98px) {
  .footer-logo__link img {
    display: block;
    margin: 0 auto;
  }
}

.footer-logo__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 26px;
  color: #ffffff;
}

@media (max-width: 910.98px) {
  .footer-logo__subtitle {
    text-align: center;
  }
}

.footer-logo-list {
  list-style-type: none;
}

.footer-logo-list__item {
  display: inline-block;
  margin-right: 18px;
  padding-top: 70px;
}

@media (max-width: 910.98px) {
  .footer-logo-list__item {
    padding-top: 20px;
  }
}

.footer-logo-list__item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
}

.footer-studio {
  padding-top: 16px;
}

@media (max-width: 910.98px) {
  .footer-studio {
    text-align: center;
    padding-top: 50px;
  }
}

.footer-studio__title {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  padding-bottom: 31px;
}

.footer-studio__link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.footer-studio__link2 {
  padding-top: 25px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.footer-social {
  padding-top: 16px;
}

@media (max-width: 910.98px) {
  .footer-social {
    text-align: center;
    padding-top: 50px;
  }
}

.footer-social__title {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  padding-bottom: 18px;
}

.footer-social input {
  width: 210px;
  height: 45px;
  padding-left: 16px;
  background: transparent;
  border: 1px solid #9e98b0;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 26px;
  color: #9e98b0;
}

.footer-social__link img {
  height: 49px;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 10px;
}

.footer-social-list {
  list-style-type: none;
}

.footer-social-list__item {
  display: inline-block;
}

.footer-social-list__item a {
  margin-right: 10px;
}

.footer-social__subtitle {
  padding-top: 70px;
  float: right;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
}

.fa-facebook-f {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 14px 11px 14px;
  border-radius: 100%;
  text-align: center;
}

.fa-facebook-f:hover {
  background-color: #fff;
  color: #3a2e5e;
}

.fa-twitter {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 11px 11px 11px;
  border-radius: 100%;
  text-align: center;
}

.fa-twitter:hover {
  background-color: #fff;
  color: #3a2e5e;
}

.fa-dribbble {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 11px 11px 11px;
  border-radius: 100%;
  text-align: center;
}

.fa-dribbble:hover {
  background-color: #fff;
  color: #3a2e5e;
}

.fa-instagram {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 11px 11px 11px;
  border-radius: 100%;
  text-align: center;
}

.fa-instagram:hover {
  background-color: #fff;
  color: #3a2e5e;
}

.fa-google-plus-g {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 11px 11px 11px;
  border-radius: 100%;
  text-align: center;
}

.fa-google-plus-g:hover {
  background-color: #fff;
  color: #3a2e5e;
}

.fa-youtube {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 11px 11px 11px;
  border-radius: 100%;
  text-align: center;
}

.fa-youtube:hover {
  background-color: #fff;
  color: #3a2e5e;
}
/*# sourceMappingURL=style.css.map */