.block-works
    &-text
        display: flex
        justify-content: space-between
        padding-top: 70px
        padding-bottom: 80px
        &__title
            font-size: 22px
            letter-spacing: 0.5px
            font-family: 'Playfair Display', serif
            font-weight: 700
        &__link
            text-decoration: none
            font-size: 14px
            letter-spacing: 0.5px
            font-family: 'Roboto', sans-serif
            font-weight: 400
            color: #413d4b
            &-item
                padding-left: 5px
    &-sqares
        &__adap
            text-align: center
        img
            width: 250px
            height: 200px
            @media (max-width: 1520.98px)
                width: 230px
                height: 180px
            @media (max-width: 1400.98px)
                width: 210px
                height: 160px
            @media (max-width: 1082.98px)
                display: block
                margin: 0 auto
                padding-top: 4px
                width: 400px
                height: 350px
            @media (max-width: 550.98px)
                width: 270px
                height: 250px
            
    &-load
        text-align: center
        padding-top: 70px
        padding-bottom: 70px
        &__link2
            text-align: center
            line-height: 4px
            text-decoration: none
            border: 1px solid #00e0d0
            border-radius: 1px
            padding: 14px 20px 14px 20px
            font-size: 16px
            font-family: 'Hammersmith One', sans-serif
            font-weight: bold
            color: #00e0d0
            &:hover
                text-align: center
                line-height: 4px
                text-decoration: none
                border: 1px solid #00e0d0
                background-color: #00e0d0
                border-radius: 1px
                padding: 14px 20px 14px 20px
                font-size: 16px
                font-family: 'Hammersmith One', sans-serif
                font-weight: bold
                color: #fff